
.form-margin-top{
    margin-top:40px;
}
.form-margin-all{
    margin:40px; 
}
#map {
    height: 0;
    overflow: hidden;
    padding-bottom: 45.25%;
    padding-top: 30px;
    position: relative;
}

.form-margin-left {
    margin-left: 10px;
}
