@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron form-margin-top">
        <div class="row">
            <div class="col-md-9">
                <h1 class="text-center">Zeal Tracker</h1>

                <p class="lead text-center">The Zeal Tracker is a device that will tell you who is or was driving your vehicle</p>

                <p class="text-center">Log into our system with our unique authentication method with your phone or an authentication card.</p>

                <div class="row">
                    <section class="col text-center">
                        <input class="btn-primary btn-lg" type="button" value="Register Now" onclick="location.href='@Url.Action("Register", "Account")'" />
                    </section>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <img src="~/Content/ZealLogo.png" width="300" height="350"/>
            </div>
        </div>
    </div>
